* {
    margin: 0
}

body {
    font-family: 'Roboto', sans-serif;
    letter-spacing: 5px;
    text-transform: uppercase;

}

canvas {
    cursor: url(./img/Bullet.png), default;
    position: absolute;
}

#main-menu {
    height: 100vh;
    text-align: center;
    background: white url(./img/BackgroundStar.png) no-repeat center / cover;
    z-index: 0
}

#main-menu img {
    width: 600px;
    display: block;
    /* margin-bottom: 0; */
}



div p {
    margin: 20px 0;
    color: white;
}

.btn {
    background: rgba(255, 255, 255, 0.762);
    display: inline-block;
    padding: 20px 0;
    width: 200px;
    color: black;
    border: 4px solid black;
    border-radius: 1px;
    text-transform: uppercase;
    font-family: 'ThaleahFat', sans-serif;
    font-size: 20px;
    letter-spacing: 5px;
    font-weight: 500;
    cursor: pointer;
    margin-top: 200px;
    margin-right: 50px;
}

.btn:hover {
    background-color: grey;
}


/* Alingner */




#game-over {
    height: 100vh;
    text-align: center;
    background: white url(./img/GameBackground.png) no-repeat center / cover;
    z-index: 0
}

#game-over img {
    width: 600px;
    padding-left: 500px;
    padding-top: 200px;
    display: block;
    /* margin-bottom: 0; */
}

.Aligner {
    display: flex;
    align-items: center;
    justify-content: center;
}